html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}
*/
.busqueda ::placeholder {
    color: #101010 !important;
}


/* Estilos para el Navbar */
.navbar {
    padding: 10px 0; /* Ajusta según tus necesidades */
    position: center fixed;
    width: 100%; /* Ajusta para que ocupe toda la anchura */
    z-index: 100;
}


/* Alineación del ícono de búsqueda */
.busqueda input-group-append {
    display: flex;
    align-items: center;
}

/* Estilo para el botón de búsqueda */
.busqueda .btn-secondary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*Banner*/
.banner-container {
    position: relative;
    height: 50vh;
    overflow: hidden;
    background: url('../imagenes/DIGIT.gif') no-repeat center ;
    background-size: contain;
    background-color: #593196;
    margin-top: 0px; /* Ajusta según la altura de tu navbar */
    margin-bottom: 0px; /* Ajusta el margen inferior según sea necesario */
}

.banner-content {
    position: center;
    background-size: contain;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-bottom: 0px; /* Ajusta según sea necesario */
}


.subscribe-btn {
    padding: 15px 30px;
    font-size: 32px;
    border-radius: 14px;
}
